/* start global */
body {
  background-color: #F3F6FB;
  font-family: "SSTRoman";
}

.font50 {
  font-size: 50px;
  color: #ffffff;
  font-family: "SSTBold";
}

.font22Black {
  font-size: 22px;
  color: $pBlack;
  margin-bottom: 15px;
  font-family: "SSTBold";
}

.p18,
.p16 {
  font-size: 16px;
  color: $pBlack;
  font-family: "SSTRoman";
}
.p20 {
  font-size: 20px;
  font-family: "SSTBold";
}
.p13 {
  font-size: 13px;
}
.linkArrow {
  display: inline-block;
  min-width: 140px;
  min-height: 52px;
  background: #60ac66;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-image: url(../images/shared/iconLinkBtn.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 7px 23px;
  padding-left: 45px;
  font-size: 20px;
  color: #fff;
  text-decoration: unset;
  &:visited {
    color: #fff;
  }
}
.fexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnMewa {
  border-radius: 25px;
  border: 1px solid $color46C752;
  background: $color46C752;
  padding: 10px 20px;
  min-width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  min-height: 50px;
  color: #fff;
  font-family: "SSTMedium";

  &:hover {
    transition: 0.25s;
    color: #fff;
    opacity: .8;
  }
}

.p18 {
  font-size: 18px;
  font-family: "SSTMedium";
}

.potionAbsolute {
  position: absolute;
  content: "";
}

.multi-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
}

.text-right {
}

.mainTitle {
  &.lineRight {
    &::after {
      left: unset;
      right: 0;
      transform: translateX(0);
    }
  }

  display: inline-block;
  padding-bottom: 14px;
  position: relative;
  padding-bottom: 25px;
  color: #005D45;
  font-size: 30px;
  font-family: "SSTLight";
  strong {
    font-family: "SSTBold";
  }
  &::after {
    @extend .potionAbsolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background-color: $color46C752;
    bottom: 0;
  }
}

.namaBtn {
  display: inline-flex;
  text-decoration: unset;
  min-width: 175px;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  border-radius: 50px;
  border: 1px solid $color46C752;

  img {
    margin-left: 15px;
  }
}

.dateMA {
  display: flex;
  align-items: center;
  margin: 12px 0;

  img {
    margin-left: 10px;
  }

  .p12 {
    font-size: 12px;
    font-family: "SSTMedium";
    color: $pBlack;
  }
}

.stretchedLink {
  @extend .potionAbsolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.label {
  font-size: 18px;
  color: #414141;
}
.whiteBg {
  background: #ffffff;
  padding: 20px 30px 35px;
  border-radius: 30px;
}
.customInput {
  .formGroup {
    margin-bottom: 10px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    visibility: hidden;
    display: none;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-right: 28px;
    cursor: pointer;
    line-height: 15px;
    display: inline-block;
    color: #414141;
    font-size: 18px;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #727f7c;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: $color46C752;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.btnGreen,
.btnBlue {
  background: #005D45;
  color: #fff;
  border-radius: 25px;
  padding: 5px 30px 5px 30px;
  min-height: 40px;
  min-width: 120px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  border: unset;
  @extend .p18;
}
.btnGreen {
  background: $color46C752;
}
/* end global */

@media(min-width:992px) {
  .menuWithBanner {
    position: relative;
    .navbarMenu {
      background: transparent;
      padding: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 0;
      top: 97px;
    }
    .navbarMenu .nav-item.dropdown:hover {
    }
    .navbarMenu .nav-item.dropdown .dropdown-menu {
      border: unset;
      padding: 21px 24px;
      border-radius: 8px;
      -webkit-box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.1);
      box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.1);
      left: 0;
      min-width: 260px;
      width: max-content;
      top: 42px;
    }
    .navbarMenu .nav-item.dropdown .dropdown-menu ul {
      padding: 0;
      list-style: none;
    }
    .navbarMenu .nav-item.dropdown .dropdown-menu ul a {
      font-size: 14px;
    }
    .navbarMenu .nav-item.dropdown .dropdown-menu ul a:hover {
      background: unset;
      color: $color46C752;
    }
    .navbarMenu .collapse.navbar-collapse {
      background: $color46C752;
      width: 59%;
      flex-grow: unset;
      margin-right: auto;
      border-radius: 25px;
      padding: 0 35px;
    }
    .navbar-light.navbarMenu .navbar-nav .nav-link {
      color: #ffffff;
      font-family: "SSTMedium";
      font-size: 16px;
      padding: 13px 0;
      opacity: 0.8;
      transition: 0.25s;
    }
    .navbar-light.navbarMenu .navbar-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0;
    }
    .navbar-light.navbarMenu .dropdown-toggle::after {
      display: inline-block;
      margin-left: 0px;
      margin-right: 5px;
      vertical-align: 0px;
      content: "";
      border-top: 6px solid;
      border-right: 6px solid transparent;
      border-bottom: 0;
      border-left: 6px solid transparent;
    }
    .navbar-light.navbarMenu .navbar-nav .nav-link:hover,
    .navbar-light.navbarMenu .navbar-nav .nav-link.active {
   
      opacity: 1;
    }
  }
}
.navMewa { 
  background: #fff;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.05);
  padding: 27px 0;
  border-top: 5px solid $color46C752;
  .logoMain {
      img {
        max-width: 100%;
    }
  }

  .navActions {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: 0;
    .btnSr {
        background: transparent;
        border: unset;
    }
    li {
      padding-right: 10px;

      a {
        display: block;
      }
    }
  }
}

.customPagi {
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
    transition: 0.25s;

    &.swiper-pagination-bullet-active {
      width: 25px;
      opacity: 1;
      border-radius: 10px;
    }
  }
}

.customArrow {
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(../images/shared/arrowBlue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #005D45;
  }

  .swiper-button-next {
    transform: scale(-1);
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: unset;
  }
}

.bannerMenu {
  .font50,
  .p16,
  .linkArrow {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.25s;
  }
  .swiper-slide-active {
    .font50,
    .p16,
    .linkArrow {
      opacity: 1;
      transform: translateY(0);
      transition: 0.25s;

    }

    .font50 {
      transition-delay: 0.4s;
      font-family: "SSTBold";
    }
    .p16 {
      transition-delay: 0.5s;
      font-family: "SSTRoman";
    }
    .linkArrow {
      transition-delay: 0.6s;
    }
  }
  .customArrow {
    .swiper-button-next {
      left: 5%;
      right: auto;
    }

    .swiper-button-prev {
      right: 5%;
      left: auto;
    }
  }

  .scrollDown {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 30px;
    z-index: 2;
  }

  .contentBanner {
    height: calc(100vh - 120px);
    position: relative;
    display: flex;
    align-items: end;
    max-height: 1200px;
    &::after {
      @extend .potionAbsolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: rgb(96,172,102);
      background: -moz-linear-gradient(0deg, rgba(96,172,102,0.6138830532212884) 0%, rgba(96,172,102,0) 41%);
      background: -webkit-linear-gradient(0deg, rgba(96,172,102,0.6138830532212884) 0%, rgba(96,172,102,0) 41%);
      background: linear-gradient(0deg, rgba(96,172,102,0.6138830532212884) 0%, rgba(96,172,102,0) 41%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60ac66",endColorstr="#60ac66",GradientType=1);
    }

    .BNRtxt {
      padding-bottom: 120px;
      padding-right: 140px;
      width: 60%;
      position: relative;
      z-index: 2;

      p.p16 {
        color: #fff;
        margin-bottom: 42px;
        margin-top: 20px;
      }
    }

    .abosImg {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }

  .customPagi {
    padding-bottom: 80px;
  }

  .customArrow {
    .swiper-button-next,
    .swiper-button-prev {
      width: 44px;
      height: 44px;
      background-image: url(../images/shared/arrowWhite.svg);
      background-color: #60ac66;
      border: 1px solid #60ac66;
    }
  }

  
}

.emtthalSec {
  padding: 100px 0;

  .col-md-2 {
    width: 20%;
  }

  .mainTitle {
    margin-bottom: 70px;
  }

  .emtBox {
    background: #fff;
    max-height: 360px;
    overflow: hidden;
    padding: 50px 30px 40px;
    border-radius: 50px 0 50px 0;
    margin-bottom: 66px;
    transition: 0.25s;
    position: relative;
    height: 85%;
    padding-top: 100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    &:hover {
      background: #005D45;
      padding-top: 50px;
      img {
        filter: brightness(0) invert(1);
      }
      .EMTxt {
        visibility: visible;
        padding-top: 0;
      }
      .EMlog {
        text-align: center;
        transition: 0.25s;
        .font22Black {
          margin-top: 10px;
        }

      }
  
      .p18,
      .font22Black {
        color: #fff !important;
      }
    }

    .EMlog {
      text-align: center;
      transition: 0.25s;
      .font22Black {
        margin-top: 20px;
        transition: 0.25s;
        color: $pBlack;
      }
      img {
        height: 82px;
      }
    }

    .EMTxt {
      padding-top: 15px;
      visibility: hidden;
      transition: 0.25s;
      .font22Black {
        text-align: center;
      }

      .p18 {
        @extend .multi-ellipsis;
        -webkit-line-clamp: 3;
        line-height: 30px;
        height: calc(31px * 3);
      }

      .arrowLink {
        text-align: left;

        a {
          &::after {
            @extend .potionAbsolute;
            left: 0;
            height: 100%;
            width: 100%;
            top: 0;
          }
        }
      }
    }
  }
}

.newsHome {
  padding: 35px 0 50px;
  background: #fff;
  position: relative;

  .swiperNews {
    width: 86%;

    .swiper-wrapper {
      padding: 50px;
    }
  }

  .customArrow {
    .container {
      position: relative;
      width: 100%;
      top: -295px;
    }

    .swiper-button-next {
      left: 0%;
      right: auto;
    }

    .swiper-button-prev {
      right: 2%;
      left: auto;
    }
  }

  .col-md-12 {
    .btnMewa {
      margin-top: 10px;
    }
  }

  .boxNews {
    background: #fff;
    max-width: 419px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: relative;
    &:hover {
        .newsImg {
            img {
                transform: scale(1.2); 
            }
        }
        .newsTxt::after {
            bottom: -4px;
            transform: rotate(0deg);
        }
    }
    .likeNews {
      @extend .stretchedLink;
    }

    .newsImg {
      width: 100%;
      max-height: 244px;
      overflow: hidden;
      border-radius: 30px 30px 0 0;
      img {
        width: 100%;
        border-radius: 30px 30px 0 0;
        transition: .25s;
      }
    }

    .newsTxt {
      padding: 13px 25px 15px;
      position: relative;

      &::after {
        @extend .potionAbsolute;
        width: 98%;
        height: 100%;
        background-color: #005D45;
        bottom: 9px;
        left: 10px;
        border-radius: 30px;
        transform: rotate(-7deg);
        z-index: -1;
        transition: .25s
      }

      .p16 {
        @extend .multi-ellipsis;
        color: #005D45;
        font-family: "SSTBold";
        line-height: 28px;
        height: calc(28px * 2);
      }

      .p13 {
        color: $pBlack;
        line-height: 25px;
        height: calc(25px * 3);
        -webkit-line-clamp: 3;
      }
    }
  }
}

.mapHome {
  $maxWidth: 666px;
  $heightSec: 800px;
  overflow: hidden;
  height: $heightSec;
  background: #EDF0F5;
  .adverSec {
    position: relative;

    .headAdv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 45px;
      position: absolute;
      top: 0;
      z-index: 2;
      right: 30px;
      width: 90%;
      margin: 0 auto;
      max-width: $maxWidth;

      .mainTitle {
        color: #fff;
      }

      .mainTitle::after {
        background-color: #005D45;
      }

      a {
        border: 1px solid #ffffff;
        color: #fff;
        background: transparent;
      }
    }

    .shuqBxo {
      .overLay, 
      img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
      }
      .overLay {
        background: $color46C752;
        opacity: .4; 
      }
    }
  }

  .swiperWapper {
    .swiper-slide {
      height: $heightSec;
    }

    .adverTxt {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding-bottom: 140px;
      padding-right: 70px;
      max-width: $maxWidth;

      .font50:hover {
        color: #fff;
        text-decoration: underline;
      }

      .p20 {
        font-size: 20px;
        color: #fff;
        margin: 20px 0;
        font-family: "SSTMedium";
      }

      .dateMA {
        .p12 {
          font-size: 24px;
          color: #fff;
          margin-right: 20px;
        }
      }
    }

    .customArrow {
      position: relative;
      left: -75px;
      bottom: 60px;
      max-width: 600px;

      .swiper-button-prev {
        right: auto;
        left: 65px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        background-color: transparent;
        border: 1px solid #ffffff;
        filter: brightness(0) invert(1);
      }
    }
  }
  .col-md-6:first-of-type {
    display: flex;
    justify-content: left;
  }
  .mapSec {
    .mainTitle {
      margin-top: 40px;
    }
    max-width: $maxWidth;
  }
}
.resultMap {
  display: flex;
  ul {
    display:none;
    &.activeList {
      display: flex;
    }

    flex-direction: column;
    flex-wrap: wrap;
    height: 165px;
    list-style: none;
    width: auto;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: right;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    li {
      margin-bottom: 5px;
      margin-left: 35px;
      a {
        text-decoration: unset;
        pointer-events: none;
        display: inline-block;
        span {
          display: inline-block;
          font-size: 17px;
          font-family: "SSTMedium";
          &:first-of-type {
            direction: ltr;
            color: #003462;
          }
          &:last-of-type {
            color: #63BE6A;
          }
        }
      }
    }
  }
}
.voteSec {
  padding: 70px 0 100px;
  .whiteBg {
    height: 100%;
  }
  .fexCenter {
    .btnMewa {
      min-height: 40px;
      min-width: 100px;
      padding: 5px 20px;
      color: #005D45;
      background: transparent;
      border-color: #005D45
    }
  }
  .form {
    .formGroup {
      margin-bottom: 20px;
    }
    p.p18 {
      margin: 40px 0 25px;
      color: $color46C752;
    }
    .fromAction {
      text-align: center;
      padding-top: 20px;
      .btnBlue {
        margin-left: 10px;
      }
    }
  }

  .ulEstb {
    padding: 0;
    list-style: none;
    margin-top: 22px;
    margin-bottom: 0;
    li {
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 16px;
      margin-bottom: 16px;
      &:last-of-type {
        border-bottom: 0px solid #eeeeee;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      a {
        @extend .fexCenter;
        display: inline-flex;
        justify-content: unset;
        text-decoration: unset;
        &:hover {
          color: #414141;
        }
        span {
          color: #414141;
          padding-right: 20px;
        }
      }
    }
  }
}

.ourNum {
  padding-bottom: 100px;
  overflow: hidden;

  .col-md-12 {
    margin-bottom: 40px;
  }
  .whiteBg {
    padding: 60px;
    border-radius: 50px 0 50px 0;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  }
  .customArrow {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    .swiper-button-prev,
    .swiper-button-next {
      /*
      border: 1px solid $color46C752;
      background-image: url(../images/shared/arrowGreen.svg);
      */
    }

    .swiper-button-prev {
      left: auto;
      right: -78px;
    }
    .swiper-button-next {
      right: auto;
      left: 41px;
    }
  }
  .wapperNM {
    text-align: center;
    .p20 {
      margin: 0;
      padding-top: 15px;
    }
    .boxNum {
      display: inline-flex;
      flex-direction: column;
      background: white;
      padding: 19px;
      border: 1px dashed #005D45;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      &::before,
      &::after {
        @extend .potionAbsolute;
        left: 0;
        top: 0;
      }
      &::before {
        left: -2px;
        top: 46px;
        background: white;
        width: 18px;
        height: 111px;
        transform: rotate(-15deg);
      }
      &::after {
        left: 0px;
        top: 45px;
        width: 8px;
        height: 8px;
        background: #092f57;
        border-radius: 50px;
      }
      .counter {
        font-size: 25px;
        font-family: "SSTBold";
        color: #005D45;
      }
      .p16 {
        color: $pBlack;
        margin-bottom: 0;
      }
    }
  }
  /*
  .collective {
    .boxNum {
      border: 1px dashed #4789c8;
      &::after {
        background: #4789c8;
      }
      .counter {
        color: #4789c8;
      }
    }
  }
  .service {
    .boxNum {
      border: 1px dashed $color46C752;
      &::after {
        background: $color46C752;
      }
      .counter {
        color: $color46C752;
      }
    }
  }
  */
}

.ourNumSwiper .swiper-slide:nth-of-type(even) {
  .wapperNM  {
    .boxNum {
      border: 1px dashed $color46C752;
      .counter {
        color: $color46C752;
      }
    }
  }
}


.footerMenw .FooterLinks + .FooterLinks {
    margin-top: 45px;
}
.footerMenw {
  background: #005D45;
  padding: 60px 0 20px;
  .p20 {
    color: $color46C752;
    margin-bottom: 10px;
    line-height: 2;
  }
  .FooterLinks {
    .flexCenter{
      margin-top: 25px;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 15px;
        a {
          font-size: 15px;
          color: #fff;
          text-decoration: unset;
          &:hover {
            color: #46c752;
            text-decoration: underline;
          }
        }
      }
    }
    .flexCenter {
      a {
        display: inline-block;
        width: 105px;
        &:not(:last-of-type) {
          margin-left: 10px;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
  .social {
    .fexCenter {
      justify-content: right;
      margin-top: 30px;
   
      a {
        margin-right: 40px;
      }
    }
  }
  > hr {
    background: #fff;
    margin: 40px 0 20px;
  }
  .text-center {
    .p18 {
      color: #fff;
      margin: 0;
    }
  }
}

.modalSearch {
  .modal-dialog {
    max-width: 800px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @media (max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
    .modal-content {
      background: transparent;
      border: unset;
      .SearchCustom {
        width: 750px;
      }
    }
  }
  button.btn {
    background: transparent;
    border: unset;
  }
}



.SearchCustom {
	background: #fff;
	height: 74px;
	width: 100%;
	border-radius: 16px;
	padding-right: 30px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;

	.forGroup {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
	}
	.searchInput {
		height: 100%;
		width: 80%;
		border: unset;
		font-size: 1rem;
		 
		color: #727f7c;
		&::-webkit-input-placeholder {
			font-size: 1rem;
			color: #727f7c;
		}
		&:-ms-input-placeholder {
			font-size: 1rem;
			color: #727f7c;
		}
		&::-ms-input-placeholder {
			font-size: 1rem; 
			color: #727f7c;
		}
		&::placeholder {
			font-size: 1rem; 
			color: #727f7c;
		}
	}
	.searchSubmit {
		height: 100%;
		width: 71px;
		background: $color46C752;
		border: unset;
		border-radius: 16px;
	}
	.boxSloce {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 31px;
		button {
			opacity: 1;
		}
	}
}
.mapSec {
    text-align: left;
    .mapSvg {
      svg {
        width: 100%;
      }
    }
    #Map {
      #Group_125742 {
        filter: blur(10px);
      }
      .clickable {
        transition: .25s;
      &.activeArea,
       &:hover {
        fill: #005D45;
       }
      }
    }
}

/*

.contrast #s4-bodyContainer div:not([class]) > *,
.contrast #s4-bodyContainer .navBar,
.contrast #s4-bodyContainer .modalSearch,
.contrast .happeningNow.openUpSection,
.contrast .HappensNowPuple,
.contrast a.scrollTop {
  -webkit-filter: grayscale(100%) brightness(95%) contrast(120%);
  filter: grayscale(100%) brightness(95%) contrast(120%); }

.contrast #s4-bodyContainer div:not([class]) > .ms-dialogHidden {
  -webkit-filter: unset;
          filter: unset; }

.contrast #s4-bodyContainer .menuBg .customContainer .navbarCustom .navbar-brand,
.contrast #s4-bodyContainer .menuBg .customContainer .navbarCustom .navbar-toggler,
.contrast #s4-bodyContainer .menuBg .navbarCustom .nav-item .nav-link,
.contrast #s4-bodyContainer .navbarCustom .dropdown .dropdown-menu,
.contrast footer,
.contrast iframe {
  -webkit-filter: grayscale(100%) brightness(95%) contrast(120%);
          filter: grayscale(100%) brightness(95%) contrast(120%); }


*/


.white-sec{
 background-color: #fff;
 box-shadow: 0 0 50px rgba($color: $pBlack, $alpha: 0.05);   
}

.Evaluation{
  margin: 100px 0;
  .white-sec{
    padding: 30px 40px;

  }
  .right-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    h5{
      font-size: 16px;
      font-family: "SSTMedium";
      color: $pBlack;
      margin-#{$end-direction}: 20px;
      margin-bottom: 0;
    }
    .ev-stars{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      li{
        margin-#{$end-direction}: 10px;
        img{
          width: 20px;
          height: 20px;
        }
        &:last-child{
          margin: 0;
        }
      }
    }
  }
  .left-sec{
    .last-edit{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
      img{
        width: 20px;
        height: 20px;
      }
      span{
        font-size: 16px;
        font-family: "SSTMedium";
        padding-#{$start-direction}: 10px;
        color: $pBlack;

      }
    }
  }
}


.breadcrumbSec{
  background-color: $title-color;
  height: 200px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 50px;

  h2{
    font-size: 30px;
    line-height: 2;
    font-family: "SSTBold";
    color: #fff;
    margin-bottom: 10px;
  }
  .breadcrumb{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    li{
      font-size: 16px;
      font-family: "SSTMedium";
      color: #fff;
      a{
        font-size: 16px;
        line-height: 2;
        font-family: "SSTMedium";
        color: #fff;
        position: relative;
        padding-#{$end-direction}: 20px;
        margin-#{$end-direction}: 15px;
        text-decoration: none;
        &::after{
          content: "";
          position: absolute;
          width: 6px;
          height: 13px;
          #{$end-direction}: 0;
          top: 13px;
          background-image: url(../images/shared/breadcrumb-Arrow.svg);
          background-size: contain;
          background-repeat: no-repeat;

        }
      }
    }
  }


  .socialBC{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin-#{$end-direction}: 10px;
        a{
          width: 50px;
          height: 50px;
          border: 1px solid #fff;
          background-color: transparent;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          img{
            max-width: 27px;
          }
        }
      }
  }
}






















/*******************************************

                                                              inner
*********************************************/

.top-section{
  .white-sec{
    padding: 55px 50px;
  }
  .content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // padding-#{$end-direction}: 10px;
    h2{
      font-size: 26px;
      font-family: "SSTBold";
      color: $title-color;
      position: relative;
      line-height: 40px;
      &.with-arrow{
        padding-#{$start-direction}: 25px;
        &::before{
          content: "";
          position: absolute;
          #{$start-direction}:0;
          top: 0;
          width: 15px;
          height: 40px;
          background-color: $color46C752;
          border-radius: 20px 0 20px 0;
          overflow: hidden;
        }
      }
    }
    p{
      font-size: 21px;
      color: $pBlack;
      font-family: "SSTRoman";
      line-height: 48.5px;

    }
  }
  .img-box{
    overflow: hidden;
    border-radius: 100px 0 100px 0;
    margin-#{$start-direction}: 50px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}


.mission-vision{
  margin-top: 50px;
  .inner-cont{
    display: flex;
    flex-direction: row;
    .mission,
    .vision{
      padding: 30px 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 3px 20px rgba($color: $pBlack, $alpha: 0.03);
      width: 50%;
      // flex: 0 0 50%;
      min-height: 340px;
      transition: .5s;
      .img-box{
        img{}
      }
      .content-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4{
          font-size: 24px;
          font-family: "SSTBold";
          color: $pBlack;
          margin-bottom: 10px;
          text-align: center;
        }
        p{
          font-size: 22px;
          font-family: "SSTRoman";
          color: #333333;
          margin-bottom: 0px;
          line-height: 38px;
          max-height: calc(38px * 3);
          overflow: hidden;
          text-align: center;
        }
      }
      &.activ{
        flex: 0 0 67%;
      }
      &.remove-cont{
        .content-box{
          p{
            
            display: none;
          }
        }
      }
    }
    .vision{
      background-color: #fff;
      .content-box{
        h4{
          color: $pBlack;
        }
        p{
          color: #333333;
        }
      }
    }
    .mission{
      background-color: $color46C752;
      .content-box{
        h4{
          color: #fff;
        }
        p{
          color: #fff;
        }
      }
    }
  }
}



.goals{
  margin-top: 50px;
  h3{
    font-size: 30px;
    font-family: "SSTBold";
    color: $title-color;
    margin-bottom: 33px;
  }
  ul{
    list-style: none;
    counter-reset: li;
    padding: 0;
    margin: 0;
    li{
      font-size: 22px;
      font-family: "SSTRoman";
      color: $pBlack;
      margin-bottom: 20px;

      &::before{
        counter-increment: li;
        content: counter(li);
        font-size: 24px;
        font-family: "SSTBold";
        color: #fff;
        background-color: $color46C752;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-#{$end-direction}:30px ;
      }
     
    }
  }
}


.services-list{
  .sort-search{
    input{
      width: 700px;
    }
  }
  .services-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #fff;
    border-radius: 50px 0 50px 0;
    padding:  27px ;
    overflow: hidden;
    transition: .5s;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.05);
    .icon-box{
      transition: .5s;
      margin-bottom: 10px;
      max-height: 75px;
      img{
        height: 100%;
      }
    }
    .content-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4{
        font-size: 20px;
        font-family: "SSTBold";
        color: $pBlack;
        line-height: 44px;
        margin-bottom: 0px;
        text-align: center;
        transition: .5s;
      }
      .hidden-box{

       
        p{
          font-size: 16px;
          font-family: "SSTRoman";
          color: #fff;
          line-height: 35px;
          overflow: hidden;
          margin-bottom: 10px;
          height: 0;
          transition: .5s;
          text-align: center;
        }
        .start-service{
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          height: 0;
          opacity: 0;
          transition: .5s;
          a{
            font-size: 14px;
            font-family: "SSTMedium";
            color: #fff;
            background-color: $color46C752;
            border-radius: 50px;
            line-height: 28px;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            width: 150px;
           
          }
        }
      }
    }


    &:hover{
      background-color: $title-color;
      .icon-box{
        filter: invert(1) grayscale(2) brightness(5.5);
      }
      .content-box{
        h4{
          color: #fff;
        }
        .hidden-box{
          opacity: 1;
          height: auto;
          p{
            height: calc(35px * 3);
          }
          .start-service{
            overflow: hidden;
            height: auto;
            opacity: 1;
            transition: .5s;
            a{

            }
          }
        }
      }
    }
  }
}

/*

*/


.sort-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  input{
    // width: 700px;
    min-height: 60px;
    padding: 10px 40px;
    padding-#{$end-direction}: 60px;
    border-radius: 50px;
    border: 1px solid #E0E5E9;
    font-size: 18px;
    color: $pBlack;
    box-shadow: none;
    background-color: #fff;
    background: #fff url(../images/shared/innerSearch-icon.svg) no-repeat 25px 16px;
    background-size: 28px;
  }
  select{
    background-image: url(../images/shared/Arrow-down-select.svg);
    background-repeat: no-repeat;
    background-position: 28px 26px;
    min-height: 60px;
    padding: 10px 40px;
    padding-#{$end-direction}: 60px;
    border-radius: 50px;
    border: 1px solid #E0E5E9;
    font-size: 18px;
    color: $pBlack;
    box-shadow: none;
    background-color: #fff;
  }
}


/*
pagination
*/

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  li{
      a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background: #ffffff;
          border-radius: 0;
          margin: 0 4px;
          font-size: 16px;
          font-family: "SSTMedium";
          color: #1C1F2A;
          border: 1px solid $color46C752;
          &.Disabled{
              cursor: unset;
              opacity: 0.5;
          }
          &.current {
              background-color: $title-color;
              color: #fff;
              border: none;
              cursor: unset;
          }
          &.NextPagi,&.prePagi{
              background-color: #fff;
              border: 0;
              border-radius: 5px;


          }
          &.NextPagi{
            img{
              transform: scaleX(-1);
            }
        }
      }
  }
}

.inner{
  .table{
    tr{
      border: none;

      &:first-child{
        background-color: $title-color !important;
        border: 0;
        td{
          font-size: 19px;
          color: #fff;
          font-family: "SSTBold";
        }
      }
      &:nth-child(even){
        background-color: #EDF0F5;
      }
      &:nth-child(odd){
        background-color: #fff;
      }

      td{
        font-size: 18px;
        font-family: "SSTRoman";
        color: $pBlack;
        padding: 21px 20px;
        text-align: center;
        border: none;
        box-shadow: none;
      }

    }
  }
}

.systems-list{
  margin-top: 80px;
  margin-bottom: 200px;
  .table{
    tr{
      td{
        &:nth-child(2){
          width: 60%;
        }
      }
    }
  }
}


.docs-list{
  .sort-search{
    justify-content: flex-start;
    input{
      width: 400px;
    }
    select{
      width: 400px;
      margin-#{$end-direction}: 30px;
    }
    &.left-sec{
      justify-content: flex-end;
      select{
        width: 350px;
      }
    }
  }

  .docs-card{
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    position: relative;
    margin-bottom: 30px;
    .icon-box{
      height: 70px;
      margin-bottom: 20px;
      img{
        height: 100%;
      }
    }
    .content-box{
      h4{
        font-size: 16px;
        font-family: "SSTMedium";
        line-height: 37px;
        height: calc(37px *2);
        color: $pBlack;
        margin-bottom: 18px;
        text-align: center;

      }
      .hidden-box{
        position: absolute;
        bottom: 0;
        #{$start-direction}:0;
        width: 100%;
        height: 50px;
        opacity: 0;
        transition: .5s;
        .download-link{
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px 14px;
            background-color: $color46C752;
            color: #fff;
            font-size: 18px;
            font-family: "SSTBold";
            img{
              filter: grayscale(5) brightness(5);
              margin-#{$end-direction}: 10px;
              height: 20px;
            }
          }
        }
      }
    }
    &:hover{
      .content-box{
        .hidden-box{
          opacity: 1;
        }
      }
    }
  }
}


.news-list{
  .sort-search{
    justify-content: flex-start;
    input{
      width: 400px;
    }
    select{
      width: 400px;
      margin-#{$end-direction}: 30px;
    }
    &.left-sec{
      justify-content: flex-end;
      select{
        width: 350px;
      }
    }
  }

  .news-card{
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    .img-box{
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s;
        }
    }
    .content-box{
      width: 100%;
      height: 140px;
      padding: 14px 23px;
      background-color: rgba($color: $title-color, $alpha: 0.8);
      position: absolute;
      bottom: 0;
      #{$start-direction}:0;
      transition: .5s;
      .date{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        padding: 6px 23px 8px;
        margin-bottom: 5px;
        transition: .5s;
        img{
          height: 18px;
          width: 18px;
          margin-#{$end-direction}: 10px;
        }
        span{
          font-size: 15px;
          color: #fff;
        }
      }
      h4{
        font-size: 16px;
        font-family: "SSTRoman";
        color: #fff;
        line-height: 31px;
        height: calc(31px * 2);
        overflow: hidden;
        margin-bottom: 0;
        font-weight: 400;
      }
    }

    &:hover{
      .img-box{
        img{
          transform: scale(1.15);
        }
      }
      .content-box{
        background-color: $title-color;
        .date{
          background-color: $color46C752;
          border-color: $color46C752;
        }
      }
    }
  }
}



.news-details{
  .white-sec{
    padding: 50px 55px;
    h3{
      font-size: 24px;
      font-weight: 400;
      font-family: "SSTBold";
      color: $title-color;
      margin-bottom: 40px;
    }
    .date{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $color46C752;
      border-color: $color46C752;
      padding: 6px 23px 8px;
      margin-bottom: 40px;
      transition: .5s;
      img{
        height: 18px;
        width: 18px;
        margin-#{$end-direction}: 10px;
      }
      span{
        font-size: 15px;
        color: #fff;
      }
    }
    .img-area{
      max-width: 1025px;
      width: auto;
      margin: 0 auto;
      img{
        width: 100%;
        border-radius: 50px 0 50px 0;
        overflow: hidden;
      }
    }
    .content-area{
      margin-top: 55px;
      p{
        font-size: 18px;
        line-height: 40px;
        color: $pBlack;
        margin-bottom: 20px;
      }
    }
  }
}