
@media(min-width:1500px) {
    .container {
        max-width: 1400px;
    }
}

@media(min-width:1700px) {
    .container {
        max-width: 1650px;
    }
    .mapHome .mapSec {
        max-width: 800px;
    }
}


@media(max-width:1700px) {
    .newsHome .swiperNews .swiper-wrapper {
        padding: 15px;
    }
    .newsHome .swiperNews {
        width: 95%;
    }
    .newsHome .customArrow .swiper-button-next {
        left: -3%;
        right: auto;
    }
    .newsHome .customArrow .swiper-button-prev {
        right: -2%;
        left: auto;
    }

    .top-section .content-box p{
        font-size: 1.25rem;
        line-height: 38px;
    }
    .mission-vision .inner-cont .mission .content-box h4, .mission-vision .inner-cont .vision .content-box h4{
        font-size: 1.375rem;
    }
    .mission-vision .inner-cont .mission .content-box p, .mission-vision .inner-cont .vision .content-box p {
        font-size: 1.25rem;
        line-height: 33px;
        max-height: calc(33px* 3);
    }
    .goals h3 {
        font-size: 1.5rem;
    }
    .goals ul li {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }
    .goals ul li::before {
        font-size: 1.25rem;
        width: 40px;
        height: 40px;
    }
}


@media(max-width:1400px) {
    .emtthalSec .emtBox {
        padding: 45px 15px 25px;
    }
    .mapHome .swiperWapper .adverTxt {
        padding-right: 25px;
        max-width: 630px;
    }
    .mapHome .swiperWapper .customArrow {
        left: 0;
    }
    .docs-list .docs-card{
        height: 255px;
        padding-top: 45px;
    }
    .docs-list .docs-card .icon-box{
        height: 55px;
    }
    .docs-list .docs-card .content-box h4 {
        font-size: 1rem;
        line-height: 24px;
        height: calc(24px* 3);
        padding: 0 15px;
    }
    .docs-list .docs-card .content-box .hidden-box .download-link a{
        font-size: 1rem;
    }
    .docs-list .sort-search select,
    .docs-list .sort-search.left-sec select{
        width: max-content;
        min-width: 170px;
        font-size: 1rem;
        padding: 10px 20px;
        padding-#{$end-direction}: 35px;
        background-position: 17px 29px;
        background-size: 13px;
    }
    .docs-list .sort-search input {
        width: 280px;
        font-size: 1rem;
        padding: 10px 20px;
        padding-#{$end-direction}: 40px;
        background-position:20px 21px;
        background-size: 20px;
    }
    
    .media-list .media-card{
        height: 240px;
    }
    .media-list .media-card .img-box {
        height: 180px;
    }
    .media-list .media-card .content-box h4 {
        font-size: 1rem;
    }
    .media-list .media-card .img-box::before{
        background-size: 50px;
    }




}
@media(max-width:1200px) {
    .font50 {
        font-size: 2.5rem;
    }
    .mapHome .col-md-6 {
        width: 100%;
    }
    .emtthalSec .col-md-2 {
        width: 33.3333%;
    }
    .menuWithBanner .navbarMenu .collapse.navbar-collapse {
        width: 75%;
    }
    .bannerMenu .contentBanner .BNRtxt {
        padding-bottom: 140px;
        padding-right: 50px;
        width: 85%;
    }

    .footerMenw {
         .FooterLinks .flexCenter a {
            margin-top: 10px;
        }
         .text-center .p18 {
            font-size: .75rem;
        }
         .p20 {
            font-size: 1rem;
            margin-bottom: 10px;
        }
        .FooterLinks ul li a {
            font-size: 0.875rem;
        }
         .FooterLinks ul li {
            margin-bottom: 5px;
        }
        .social {
            img {
                width: 90%;
            }
            .fexCenter {
                margin-right: 30px;
                margin-top: 20px;
                a {
                    margin-right: 30px;
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }
    .mapHome .swiperWapper .swiper-slide {
        height: 540px;
    }
    .mapHome .swiperWapper .adverTxt {
        margin-bottom: 60px;
    }
    .mapHome .adverSec .headAdv,
    .mapHome .swiperWapper .customArrow,
    .mapHome .swiperWapper .adverTxt {
        max-width: unset;
    }
    .mapHome .swiperWapper .customArrow {
        left: 46%;
    }
    .top-section .content-box h2 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .top-section .content-box p {
        font-size: 1rem;
        line-height: 30px;
    }
    .mission-vision .inner-cont .mission .content-box h4, .mission-vision .inner-cont .vision .content-box h4 {
        font-size: 1.25rem;
    }
    .mission-vision .inner-cont .mission .content-box p, .mission-vision .inner-cont .vision .content-box p {
        font-size: 1rem;
        line-height: 25px;
        max-height: calc(25px* 4);
    }
    .goals h3 {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }
    .goals ul li {
        font-size: 1rem;    
    }
    .goals ul li::before {
        font-size: 1rem;
        width: 35px;
        height: 35px;
        margin-#{$end-direction}: 15px;
    }
    .breadcrumbSec{
        height: auto;
        padding-bottom: 20px;
    }
    .breadcrumbSec h2 {
        font-size: 1.5rem;
    }
    .breadcrumbSec .breadcrumb li,.breadcrumbSec .breadcrumb li a{
        font-size: .875rem;
    }
    .breadcrumbSec .socialBC > li > a {
        width: 40px;
        height: 40px;
    }
    .breadcrumbSec .socialBC > li > a img {
        max-width: 18px;
    }
    .breadcrumbSec .breadcrumb{
        margin-bottom: 10px;
    }
    .top-section .img-box{
        margin: 0 auto;
        max-width: 350px;
        margin-top: 20px;
    }
    .mission-vision .inner-cont{
        flex-direction: column;
    }
    .mission-vision .inner-cont .mission, .mission-vision .inner-cont .vision{
        flex:  0 0 100%;
        width: 100%;
        min-height: 250px;
        pointer-events: none;
    }
    .mission-vision .inner-cont .mission .img-box,
     .mission-vision .inner-cont .vision .img-box{
        max-width: 70px;
        margin-bottom: 6px;
     }

     .docs-list .docs-card .content-box h4 {
        font-size: .875rem;
     }



    /* end 1200 */
}
@media(max-width:992px) {
    .footerMenw .col-md-2 ,
    .footerMenw .col-md-4 ,
    .emtthalSec .col-md-2 {
        width: 50%;
    }
    .voteSec .col-md-6 {
        width: 100%;
        margin-bottom: 30px;
    }
    .newsHome .swiperNews .swiper-wrapper {
        padding: 10px;
        margin-bottom: 60px;
    }
    .newsHome .swiperNews {
        width: 100%;
        margin-top: 20px;
    }
    .newsHome .customArrow .container {
        position: relative;
        width: 15%;
        top: -22px;
    }
    .newsHome .boxNews {
        max-width: unset;
    }
    .navMewa {
        padding-top: 60px;
    }
    .navMewa .col-6:first-of-type {
        width: 75%;
    }
    .navMewa .col-6:last-of-type {
        width: 25%;
    }
    .navMewa .navActions {
        position: absolute;
        left: -20px;
        top: 15px;
        transform: scale(.8);
    }
    .navbarMenu {
        background: #60ac66;
        padding: 0;
    }
    .navbarMenu .navbar-nav {
        padding: 10px 15px;
    }
    .navbarMenu  .navbar-nav .nav-link {
        color: #ffff;
    }
    .navbarMenu .navbar-nav .nav-link:focus,
     .navbarMenu .navbar-nav .nav-link:hover,
    .navbarMenu .navbar-nav .nav-link.active,
    .navbarMenu .navbar-nav .show>.nav-link {
        color: #ffff;
        font-weight: bold;
    }
    .navbarMenu .navbar-nav .dropdown-menu ul {
        padding: 0;
        list-style: unset;
        text-align: right;
        padding-right: 20px;
    }
    .navbarMenu .navbar-nav .dropdown-menu ul li .dropdown-item {
        color: #212529;
        font-family: "TajawalMedium";
        font-size: 0.875rem;
        padding: 5px 0;
    }
    .navbarMenu .navbar-nav .dropdown-menu ul li .dropdown-item:hover {
        background: unset;
    }
    .navbarMenu  .navbar-toggler {
        position: absolute;
        left: 22px;
        top: -54px;
    }
    .navMewa .logoMain img {
        display: block;
        transform: translateY(8px);
    }


    .docs-list .docs-card {
        height: 225px;
        padding-top: 30px;
    }
    .news-details .white-sec h3 {
        font-size: 1.25rem;
    }
    .news-details .white-sec .content-area p{
        font-size: 1rem;
        line-height: 30px;
    }
    .news-details.event-det .img-area .ev-dates{
        height: 130px;
    }
   
    .news-details.event-det .img-area .ev-dates .date-from .icon-box, .news-details.event-det .img-area .ev-dates .date-to .icon-box {
        height: 20px;
    }
    .news-details.event-det .img-area .ev-dates .date-from, .news-details.event-det .img-area .ev-dates .date-to{
        width: 120px;
    }
    .news-details.event-det .img-area .ev-dates .date-from .content-box h4, .news-details.event-det .img-area .ev-dates .date-to .content-box h4 {
        font-size: 1.5rem;
    }

    .news-details.event-det .img-area .ev-dates .date-from .content-box p, .news-details.event-det .img-area .ev-dates .date-to .content-box p {
        font-size: .875rem;
    }
    .news-details .white-sec .date{
        padding: 6px 15px 8px;
        margin-bottom: 25px;
    }
    .news-details .white-sec .date span{
        font-size: .75rem;
    }

    .media-list .mewa-tabs{
        min-width: 100%;
    }
    .mewa-tabs .nav-item{
        margin-#{$end-direction}: 20px;
    }
    .mewa-tabs .nav-item:last-child {
        margin-#{$end-direction}: 0;
    }


    .media-list .media-card {
        height: 240px;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    
    /* end 992 */
}

@media(max-width:767px) {
    .ourNum .wapperNM .boxNum .counter,
    .font22Green {
        font-size: 1.25rem;
    }
     .p20 {
        font-size: 1.125rem;
    }
    .p18{
        font-size: 1rem;
    }
     .p16 {
        font-size: 0.875rem;
    }
    .label,
    .p13 {
        font-size: .75rem;
      }
    .btnMewa {
        font-size: 75rem;
        min-height: 40px;
        padding: 8px 17px;
        min-width: 115px;
    }
    .btnGreen, .btnBlue {
        font-size: 875rem;
        padding: 5px 30px 5px 30px;
        min-height: 35px;
        min-width: 100px;
    }
    .linkArrow {
        min-width: 100px;
        min-height: 40px;
        padding-left: 45px;
        font-size: 875rem;
        background-size: 16px;
    }
    .bannerMenu .contentBanner .BNRtxt p.p16 {
        line-height: 1.5;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .bannerMenu .customArrow .swiper-button-next,
    .bannerMenu .customArrow .swiper-button-prev  {
        max-width: 30px;
        max-height: 30px;
        bottom: 32px;
        top: unset;
        z-index: 12;
    }
    .bannerMenu .customArrow .swiper-button-prev {
        left: 65px;
    right: unset;
    }
    .bannerMenu .scrollDown {
        position: relative;
    }
    .bannerMenu .scrollDown a {
        transform: translateY(-30px);
    }
    .customArrow .swiper-button-next, .customArrow .swiper-button-prev {
        width: 35px;
        height: 35px;
        background-size: 11px;
    }
    .footerMenw .col-md-2, .footerMenw .col-md-4, .emtthalSec .col-md-2,
    .emtthalSec .col-md-2 {
        width: 100%;
    }
    .footerMenw .col-md-2, .footerMenw .col-md-4, .emtthalSec .col-md-2 {
        margin-top: 10px;
    }
    .footerMenw .social .fexCenter {
        justify-content: center;
        margin: 15px 0;
    }
    .voteSec .col-md-6 {
        width: 100%;
        margin-bottom: 30px;
    }
    .emtthalSec {
        padding: 50px 0 30px 0;
    }
    .emtthalSec .emtBox {
        padding: 35px 20px 33px;
    }
    .emtthalSec .emtBox .EMTxt .p18 {
     line-height: 1.5;
     height: auto;
    }
    .emtthalSec .emtBox .EMTxt .arrowLink img {
        width: 20px;
    }
    .emtthalSec .mainTitle {
        margin-bottom: 25px;
    }
    .emtthalSec .emtBox {
        margin-bottom: 20px; 
        height: auto;
    }
    .emtthalSec .emtBox .EMlog img {
        height: 60px;
    }
    .dateMA img {
        margin-left: 10px;
        width: 25px;
    }
    .mapHome .swiperWapper .adverTxt .dateMA .p12 {
        font-size: 1.125rem;
    }
    .newsHome {
        padding: 35px 25px 30px;
    }
    .newsHome .swiperNews .swiper-wrapper {
        padding: 0;
    }
    .newsHome .customArrow .container {
        width: 25%
    }
    .newsHome .boxNews .newsTxt .p16 {
        line-height: 22px;
        height: auto;
    }
    .newsHome .boxNews .newsTxt .p13 {
        line-height: 18px;
        height: calc(18px* 4);
        -webkit-line-clamp: 4;
    }
    .mapHome .swiperWapper .adverTxt {
        padding-left: 15px;
        padding-bottom: 95px;
    }

    .mapHome .swiperWapper .adverTxt .font50 {
        font-size: 2.1875rem;
    }
    .mapHome .swiperWapper .swiper-slide {
        height: 480px;
    }
    .mapHome .swiperWapper .adverTxt .p20 {
        font-size: 0.9375rem;
        margin: 14px 0;
    }
    .mapHome .swiperWapper .customArrow {
        left: 34%;
    }
    .voteSec {
        padding: 40px 0 10px;
    }
    .ourNum {
        padding: 20px 15px 50px 15px;
    }
    .ourNum .whiteBg {
        padding: 30px;
    }
    .ourNum  .customArrow .container {
        position: relative;
        width: 15%;
        top: 0;
    }
    .ourNum .customArrow {
        top: unset;
        bottom: 0;
        transform: unset;
    }
    .ourNum .customArrow .swiper-button-next {
        right: auto;
        left: 0;
    }
    .ourNum .customArrow .swiper-button-prev {
        left: auto;
        right: -50px;
    }
    .ourNum .col-md-12 {
        margin-bottom: 25px;
    }
    .bannerMenu .contentBanner .BNRtxt {
        padding-bottom: 140px;
        padding-right: 0;
        width: 95%;
    }
    .voteSec .form .formGroup {
        margin-bottom: 10px;
    }
    .voteSec .form p.p18 {
        margin: 15px 0 10px;
    }
    .voteSec .ulEstb li {
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
    .voteSec .ulEstb li a span {
        padding-right: 15px;
        font-size: 0.875rem;
    }
    .voteSec .ulEstb li a img {
        width: 20px;
    }
    .ourNum .wapperNM .boxNum {
        height: 120px;
       width: 120px;
    }
    .ourNum .wapperNM .boxNum::after {
        left: -3px;
    }
    .modalSearch .modal-dialog .modal-content .SearchCustom {
        width: 100%;
        height: 50px;
      }
      .SearchCustom .searchSubmit {
        width: 22px;
      }
      .SearchCustom .boxSloce button {
        width: 25px;
      }
      .customInput [type="radio"]:checked + label, .customInput [type="radio"]:not(:checked) + label {
        font-size: 0.875rem;
      }




      .top-section .white-sec {
        padding: 40px 15px;
    }
    .sort-search {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .docs-list .sort-search select, .docs-list .sort-search.left-sec select,.docs-list .sort-search select, .docs-list .sort-search input{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .docs-list .sort-search.left-sec{
        margin-bottom: 50px;
    }
    .news-details .white-sec {
        padding: 50px 15px;
    }
    .news-details.event-det .img-area .ev-dates{
        position: relative;
    }
    .news-details.event-det .img-area{
        min-height:325px ;
    }
    .mewa-tabs .nav-item .nav-link{
        padding: 10px 15px 15px;
        font-size: 1rem;
    }
    .pagination li a{
        width: 35px;
        height: 35px;
        font-size: .75rem;
    }

   /* end 767 */
}

